<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.karaokekeyboard.ime">
<uses-sdk android:maxSdkVersion="21"/>
    <application android:label="@string/ime_name" android:icon="@mipmap/ic_launcher" android:logo="@mipmap/ic_launcher" android:largeHeap="true">
        <service android:name="com.karaokekeyboard.ime.SoftKeyboard" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>

        <activity android:name="com.karaokekeyboard.ime.ImePreferences" android:label="@string/settings_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
